.name {
    font-size: 14px;
    line-height: normal;
    font-family: Gotham Pro;
    color: #181818;
}

.more {
    font-size: 12px;
    line-height: normal;
    font-family: Gotham Pro;
    color: #0275B1;
}